/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
header {
  border-bottom: 4px solid #888;
  padding-bottom: 12px;
}
header h1 {
  font-size: 32px;
}

body {
	width: 960px;
	margin; 20px auto;
}

td {
  padding: 12px 0px;
  font-size: 18px;
  border-bottom: solid 1px #888;
}

table {
  margin-top: 24px;
  width: 80%;
}
th {
  padding-bottom: 12px;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid #888;
}

nav a, nav a:visited {
  color: #008;
  font-size: 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: white;
  color: red;
}

nav a:link {
  color: #008;
 }

 